<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>EmailCleaner</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
<nav class="orange lighten-2" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">EmailCleaner</a>
        <ul class="right hide-on-med-and-down">
            {{#if user.email}}
                <li>
                    <a class="dropdown-trigger" href="#!" data-target="user-dropdown">
                        {{user.email}}
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                    <ul id="user-dropdown" class="dropdown-content">
                        <li>
                            <a href="/signout">Déconnexion</a>
                        </li>
                    </ul>
                </li>
            {{else}}
                <li>
                    <a href="/">Nettoyer votre boîte mail</a>
                </li>
            {{/if}}
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li>
                <a href="/">EmailCleaner</a>
            </li>
            {{#if user.email}}
                <li>
                    <a class="dropdown-trigger" href="#!" data-target="user-dropdown-mobile">
                        {{user.email}}
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                    <ul id="user-dropdown-mobile" class="dropdown-content">
                        <li>
                            <a href="/signout">Déconnexion</a>
                        </li>
                    </ul>
                </li>
            {{else}}
                <li>
                    <a href="/">Nettoyer votre boîte mail</a>
                </li>
            {{/if}}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

    {{{body}}}

<footer class="page-footer grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Notre projet</h5>
                    <p class="grey-text text-lighten-4">
                        EmailCleaner vous permet de reprendre le contrôle de votre messagerie.
                        Cet outil est open source et prend soin de vos données personnelles.
                        Tout le monde peut accèder au code source de EmailCleaner sur <a href="https://github.com/aektos/emailcleaner" target="_blank">github</a>.
                        EmailCleaner n'enregistre pas, ne réalise pas de statistiques et ne revend pas vos données
                        personnelles.
                    </p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Informations</h5>
                    <ul>
                        <li><a class="white-text" href="/faq">FAQ</a></li>
                        <li><a class="white-text" href="/gcu">CGU</a></li>
                        <li><a class="white-text" href="/privacy">Confidentialité</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Rester en contact</h5>
                    <ul>
                        <li><a class="white-text" href="mailto:emailcleanerapp@gmail.com?subject=Email Cleaner app">Mail</a></li>
                        <li><a class="white-text" href="https://facebook.com" target="_blank">FB</a></li>
                        <li><a class="white-text" href="https://twitter.com" target="_blank">Twitter</a></li>
                        <li><a class="white-text" href="https://github.com/aektos/emailcleaner" target="_blank">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; EmailCleaner 2019
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>
